.hight-width{
    
        height: 90vh;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        overflow: auto;
        background-color: lightgray;
    
      
}
@keyframes marquee {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-100%);
        }
      }
      
      @keyframes colorChange {
        0% { color: red; }
        25% { color: blue; }
        50% { color: green; }
        75% { color: orange; }
        100% { color: orange; }
      }
      
      .marquee-container {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        width: 100%;
        background: lightgray; 
      }
      
      .marquee-content {
        display: inline-block;
        padding-left: 100%; /* Ensures smooth looping */
        animation: marquee 50s linear infinite, colorChange 15s linear infinite;
        font-size: 20px;
        font-weight: bold;
      }
      